.ToDoList {
  background-image: url("../../../to-do-list.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#sort-checkbox:checked ~ .sort-options {
  display: block;
}

/* Custom scrollbar */
.to-do-lists::-webkit-scrollbar {
  width: 0.7rem;
}

.to-do-lists::-webkit-scrollbar-track {
  background: #1a1a40;
}

.to-do-lists::-webkit-scrollbar-thumb {
  background-color: #8758ff;
  border-radius: 10px;
  border: 2px solid #1a1a40;
}

.to-do-lists::-webkit-scrollbar-thumb:hover {
  background-color: #6c4ccd;
}
