.ToDoList {
  background-image: url("../../../to-do-list.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#sort-checkbox {
  display: none;
  margin: 0;
}

.sort-icon {
  margin: 0;
}

.sort-options {
  display: none;
  z-index: 100;
}

#sort-checkbox:checked ~ .sort-options {
  display: block;
}
